
.advantages-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f9f9f9;
  }
  
  .advantages-content {
    max-width: 68%;
  }
  
  .advantages-title {
    font-size: 28px;
    color: #ff4d4f;
    margin-bottom: 10px;
  }
  
  .advantages-subtitle {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .advantages-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .advantage {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    width: 100%;
  }
  .advantage :hover{
    border-color:#ff4d4f;
  }
  
  .advantage img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .advantage p {
    font-size: 16px;
    color: #333;
    text-align: start;
  }
  
  .tutors-section {
    margin-top: 20px;
    text-align: start;
  }
  
  .tutors-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .tutors-description {
    font-size: 20px;
    color: #666;
  }
  
  .advantages-illustration img {
    max-width: 600px;
    height: auto;
    border-radius: 10px;
  }
  
  .img-text{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }