.header {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; /* Убедитесь, что z-index применим */
    z-index: 999; /* Ниже z-index модального окна */
  }
  
  .logo h1 {
    color: #ff4d4f;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navigation a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
  }
  
  .navigation a:hover {
    color: #ff4d4f;
  }
  .regi{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .regi p{
    margin: 0;
  }
  .header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .consultation-btn {
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 15px;
  }
  
  .consultation-btn:hover {
    background-color: #e03d3e;
  }
  
  .login-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .profile-menu {
    position: relative;
    display: inline-block;
  }
  
  .profile-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
    display: none; /* Скроем по умолчанию */
  }
  
  .dropdown-menu.active {
    display: block; /* Покажем меню, когда оно активно */
  }
  
  .dropdown-menu a,
  .dropdown-menu button {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  
  .dropdown-menu a:hover,
  .dropdown-menu button:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .gapcheking{
    display: flex;
    gap: 50px;
    flex-direction: column;
  }