/* Секция этапов обучения */
.learning-steps-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  /* Контент с шагами */
  .steps-content {
    flex: 1;
    max-width: 30%;
  }
  
  .step {
    margin-bottom: 20px;
    text-align: start;
  }
  
  .step-title {
    font-size: 20px;
    color: #ff4d4f;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .step-description {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
  }
  
  /* Иллюстрация */
  .steps-illustration {
    text-align: center;
  }
  
  .steps-illustration img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
  }
  