/* Секция "О нас" */
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f9f9f9;
    gap: 100px;
  }
  
  .about-content {
    max-width: 50%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  
  .about-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .about-subtitle {
    font-size: 44px;
    margin-bottom: 20px;
  }
  
  .about-list {
    width: 80%;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    text-align: start;
  }
  
  .about-list li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }
  
  .about-button {
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .about-button:hover {
    background-color: #e03d3e;
  }
  
  .about-image img {
    max-width: 900px;
    height: auto;
    border-radius: 10px;
  }
  
  .check{
    margin-right: 10px;
  }