
.subscription-section {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: linear-gradient(to right, #fc8f8b, #fca574);
    padding: 0px 20px;
    text-align: center;
  }
  
  .illustration-container {
    flex: 1;
    max-width: 250px;
  }
  
  .illustration-container img {
    width: 100%;
    height: auto;
  }
  
  .subscription-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 2;
    padding: 100px 20px;
  }
  
  .subscription-title {
    font-size: 22px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subscription-subtitle {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    width: 60%;
  }
  
  .subscription-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 40%;
  }
  
  .email-input {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .subscribe-button {
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .subscribe-button:hover {
    background-color: #e03d3e;
  }
  