
.certification-team-section {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0px 50px;
    background-color: #f9f9f9;
  }
  
  .certification-section {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .cert{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
  }
  .certification-title {
    font-size: 28px;
    color: #ff4d4f;
    margin-bottom: 10px;
  }
  
  .certification-subtitle {
    font-size: 44px;
    text-align: start;
    margin-bottom: 20px;
  }
  
  .certification-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .certification-logos {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .certification-logos img {
    max-width: 100px;
    height: auto;
  }
  
  .certificate-image img {
    max-width: 800px;
    height: auto;
    border-radius: 10px;
  }
  
  .team-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .team-title {
    font-size: 28px;
    color: #ff4d4f;
    margin-bottom: 10px;
  }
  
  .team-subtitle {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .tutors-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  
  .tutor-card {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 350px;
  }
  
  .tutor-card img {
    max-width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  
  .tutor-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .tutor-description {
    font-size: 16px;
    color: #666;
  }
  